# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/
.idea/
.suo
.njsproj
.sln
.sw?
.nuxt
.turbo
target/
.output
.data
.nitro
.cache
nuxt-dev-build-outputs
# Node dependencies
# Misc
.DS_Store
.fleet
# Local env files
.env
.env.*
!.env.example
playwright-report
test-results
__pycache__
coverage
xcuserdata
vite.config.js.timestamp-*
.vercel

# Local Netlify folder
.netlify

.output
dist
.next
.astro
.venv